### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [5]:
name ="Hira Ashraf"

In [7]:
print(name)

Hira Ashraf

Create two variables, x and y, and swap their values without using a third variable.

In [ ]:
x= 10
y= 20

In [15]:
x, y = y, x

print("x: ", x)
print("y: ", y)

x:  20
y:  10

Calculate the area of a rectangle with length and width stored in variables.

In [17]:
length=50
width=25

In [19]:
area=length*width

print(area)

1250

Create a variable with a long string (multi-line) and print its length.

In [62]:
Earth= """The Earth is the only planet known to support life.
It has a diverse ecosystem and various natural resources.
Protecting its resources is essential for future generations."""

In [38]:
length=len(Earth)

In [58]:
print("The length of string Earth is:", length)

The length of string Earth is: 171

Create a variable to store your favorite number and print it.

In [44]:
fav_number=9

In [46]:
print(fav_number)

9

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [48]:
sideA=4
sideB=4
sideC=6

In [54]:
perimeter= sideA + sideB + sideC

In [56]:
print(perimeter)

14

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [1]:
price=200 #per item
quantity=5

In [5]:
total_cost = price*quantity

In [7]:
print(total_cost)

1000

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [9]:
pi=3.14 
radius=250

In [15]:
Circumference = 2 * pi * radius
print(Circumference)

1570.0

Calculate the sum of two numbers, a and b.

In [17]:
a=5
b=6

In [23]:
sum=a+b
print(sum)

11

Calculate the product of two numbers, a and b.

In [25]:
a=6
b=5

In [27]:
product=a*b
print(product)

30

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [68]:
a=4
b=0

In [70]:
result= a/b

ZeroDivisionError: division by zero

In [74]:
if b != 0:  
    result = a / b
    print("The result of division is:", result)
else:  
    print("Error: Division by zero is not possible.")

Error: Division by zero is not possible.

Calculate the square of a number x.

In [86]:
x= 12
sqrt=x**0.5
print(sqrt)

3.4641016151377544

Calculate the remainder when a is divided by b.

In [88]:
x=76
y=5

In [90]:
result= x%y
print(result)

1

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [92]:
x=17
y=3

In [94]:
remainder= x%y
quotient= x//y

In [96]:
print("The remainder is: ", remainder)
print("The quotient is: ", quotient)

The remainder is:  2
The quotient is:  5

Calculate the area of a square with a given side length.

In [100]:
length= 4

In [102]:
area= length*length 
print(area)

16

Calculate the average of five numbers.

In [140]:
numbers= [2, 4, 6, 8, 10]
average= sum(numbers) / len(numbers)
print(average)

6.0

Create a variable with a boolean value and print its opposite value.

In [142]:
x= True

In [144]:
print(not x)

False

Store your birth year in a variable and calculate your age.

In [146]:
birth_year= 2002 
current_year=2024

In [148]:
age= current_year - birth_year

In [150]:
print(age)

22

In [158]:
current_year = datetime.now().year
print(current_year)

2024

Create a variable with an integer and convert it to a float.

In [1]:
integer= 59

In [3]:
f_num=float(integer)

In [5]:
print(integer)
print(f_num)

59
59.0

Create a variable with a float and convert it to an integer.

In [7]:
f_num=56.7
integer=int(f_num)

In [11]:
print(f_num)
print(integer)

56.7
56

Create a variable with a string that represents an integer and convert it to an integer.

In [17]:
string="357"
integer=int(string)

In [19]:
print(string)

357

Create a variable with a string that represents a float and convert it to a float.

In [21]:
variable="34.66"
f_num=float(variable)

In [25]:
print(f_num)

34.66

Create a variable with a number and convert it to a string.

In [28]:
no=234
string=str(no)

In [30]:
print(string)

234

Calculate the absolute value of a number.

In [34]:
num = -65
abs_num= abs(num)

In [36]:
print(abs_num)

65

Calculate the square root of a number.

In [40]:
num= 4
sq_num= num**0.5

In [42]:
print(sq_num)

2.0

Calculate the value of a raised to the power of b.

In [44]:
a= 5
b= 5

In [46]:
result= pow(a, b)
print(result)

3125

Round a float to the nearest integer.

In [48]:
f_num= 34.67
r_num= round(f_num)

In [50]:
print(r_num)

35

Combine multiple conditions using logical operators and print the result.

In [54]:
a= 4
b= 7

In [62]:
and_op= (a<b and b>5)
print(and_op)

True

In [60]:
or_op= (a<b and b<5)
print(or_op)

False

In [64]:
not_op= a!=b
print(not_op)

True

Generate a random number between 1 and 100.**(challenging)**

In [98]:
import random

a= random.randint(1, 100)

In [100]:
print(a)

44

In [108]:
import random #floating numbers 

b= random.random()
print(b)

0.7131441101438287